<!--
        Make sure you add some bottom padding to pages that include a sticky banner like this to prevent
        your content from being obscured when the user scrolls to the bottom of the page.
    -->
<div
  class="pointer-events-none z-50 fixed inset-x-0 top-0 sm:top-4 sm:px-48 sm:pb-48 lg:px-48 lg:max-w-4xl mx-auto"
>
  <div
    class="pointer-events-auto flex items-center justify-between gap-x-6 bg-black px-6 py-2.5 sm:rounded-xl sm:py-3 sm:pl-4 sm:pr-3.5"
  >
    <p class="text-sm leading-6 text-[#49f015] mx-auto">
      Summer reopening on
      <strong class="font-semibold">Saturday June 8th, 2024</strong>
    </p>
  </div>
</div>
